streamlit
pandas
matplotlib
seaborn
requests
numpy
lxml
altair
plotly
yfinance
polygon-api-client
scipy
oplab-client-python
streamlit-aggrid
yfinance
bokeh
streamlit-extras
yahooquery
tenacity
requests
python-telegram-bot==20.7
psycopg2-binary
supabase==2.5.1
gotrue==2.5.0
postgrest==0.16.2
storage3==0.5.3
realtime==1.0.3
streamlit_autorefresh
