streamlit
pandas
matplotlib
seaborn
requests
numpy
lxml
altair
plotly
yfinance
polygon-api-client
scipy
oplab-client-python
streamlit-aggrid
yfinance
bokeh
streamlit-extras
yahooquery
tenacity
requests
python-telegram-bot==20.7
psycopg2-binary
supabase-py==1.0.3
streamlit_autorefresh
